<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <main id="chat__page">
      <!-- chat -->
      <ul id="messages"></ul>

      <div id="buttons">
        <button id="emojis">
          <img src="/icons/emojis.svg" alt="all emojis icon" />
        </button>
        <button id="create__emoji">
          <img src="/icons/diyemoji.svg" alt="create your own emoji icon" />
        </button>
      </div>

      <div class="chatbar">
        <form id="form" action="">
          <input id="input" autocomplete="off" />

          <button id="send__message">
            <img src="/icons/send.svg" alt="send" />
          </button>
        </form>
      </div>
    </main>

    <dialog>
      <button id="cancel__emoji">❌</button>
      <canvas id="canvas" width="200" height="200"></canvas>
      <form id="emoji" action="">
        <button id="send__emoji">✅</button>
      </form>

      <!-- diy emoji -->
      <div>
        <label for="">
          <input
            type="radio"
            class="dot_eyes"
            name="eyes"
            value="round_eyes"
            tabindex="0"
          />
          <span><img src="/icons/circle.svg" alt="circle eyes" /></span>
        </label>

        <label for="">
          <input
            type="radio"
            class="stripe_eyes"
            name="eyes"
            value="stripe_eyes"
            tabindex="0"
          />
          <span><img src="/icons/stripe.svg" alt="vertical eyes" /></span>
        </label>

        <label for="">
          <input
            type="radio"
            class="horizontal_eyes"
            name="eyes"
            value="horizontal_eyes"
            tabindex="0"
          />
          <span><img src="/icons/horizontal.svg" alt="horizontal eyes" /></span>
        </label>
      </div>
    </dialog>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./scripts/main.js"></script>
  </body>
</html>
