<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <main id="chat__page">
      <!-- chat -->
      <ul id="messages"></ul>

      <div id="buttons">
        <button id="create__emoji" class="hidden">
          <img src="/icons/create.svg" alt="create your own emoji icon" />
        </button>
      </div>

      <div class="chatbar">
        <button id="menu__button">
          <img id="menu__button__image" src="/icons/menu.svg" alt="" />
        </button>
        <form id="form" action="">
          <input id="input" autocomplete="off" />

          <button id="send__message">
            <img src="/icons/send.svg" alt="send" />
          </button>
        </form>
      </div>
    </main>

    <div>
      <dialog>
        <button id="cancel__emoji">
          <img src="/icons/exit.svg" alt="exit diy emoji" />
        </button>
        <canvas id="canvas" width="200" height="200"></canvas>
        <form id="emoji" action="">
          <button id="send__emoji">
            <img src="/icons/send.svg" alt="send diy emoji" />
          </button>
        </form>

        <!-- diy emoji -->
        <div id="radio__parent">
          <label for="" class="trash">
            <input
              type="radio"
              name="eyes"
              value="horizontal_eyes"
              tabindex="0"
            />
            <span><img src="/icons/trash.svg" alt="trash" /></span>
          </label>

          <label for="" class="dot_eyes">
            <input type="radio" name="eyes" value="round_eyes" tabindex="0" />
            <span><img src="/icons/circle.svg" alt="circle eyes" /></span>
          </label>

          <label for="" class="stripe_eyes">
            <input type="radio" name="eyes" value="stripe_eyes" tabindex="0" />
            <span><img src="/icons/stripe.svg" alt="vertical eyes" /></span>
          </label>

          <label for="" class="horizontal_eyes">
            <input
              type="radio"
              name="eyes"
              value="horizontal_eyes"
              tabindex="0"
            />
            <span
              ><img src="/icons/horizontal.svg" alt="horizontal eyes"
            /></span>
          </label>
        </div>
      </dialog>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./scripts/main.js"></script>
  </body>
</html>
