<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <form id="login__form">
      <input type="text" id="username__input" />
      <button type="submit">Start</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./scripts/login.js"></script>
  </body>
</html>
