<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chatroom</title>
		<link rel="stylesheet" href="./styles/style.css" />
	</head>
	<body>
		<main>
			<ul id="messages"></ul>
			<div class="chatbar">
				<form id="form" action="">
					<input id="input" autocomplete="off" />
					<button>Send</button>
				</form>
				<button class="emoji__send__button">
					<img src="/icons/smiley.svg" alt="create your own emoji icon" />
				</button>
			</div>
		</main>
		<!-- chat -->

		<div id="draw__emoji">
			<button id="cancel__emoji">❌</button>
			<canvas id="canvas" width="200" height="200"></canvas>
			<button id="send__emoji">✅</button>
		</div>

		<div class="eyesButtons">
			<input type="radio" id="dot__eyes__button" class="eyes" name="eyes" />
			<input type="radio" id="stripe__eyes__button" class="eyes" name="eyes" />
			<input type="radio" id="horizontal__eyes__button" class="eyes" name="eyes" />
		</div>

		<script src="/socket.io/socket.io.js"></script>
		<script src="./scripts/main.js"></script>
	</body>
</html>
